<div class="justificar">
<h1>{{ 'info.end-user-agreement.head' | translate }}</h1>
<p><em>{{ 'info.end-user-agreement.last-updated' | translate }}</em></p>

<h2>{{ 'info.end-user-agreement.terms' | translate }}</h2>
<p>{{ 'info.end-user-agreement.terms.description1' | translate }}</p>
<p>{{ 'info.end-user-agreement.terms.description2' | translate }}</p>
<p>{{ 'info.end-user-agreement.terms.description3' | translate }}</p>

<h2>{{ 'info.end-user-agreement.terms.intellectual-property' | translate }}</h2>
<p>{{ 'info.end-user-agreement.terms.intellectual-property.description1' | translate }}</p>
<p>{{ 'info.end-user-agreement.terms.intellectual-property.description2' | translate }}</p>
<p>{{ 'info.end-user-agreement.terms.intellectual-property.description3' | translate }}</p>

<h2>{{ 'info.end-user-agreement.terms.user-representations' | translate }}</h2>
<p>{{ 'info.end-user-agreement.terms.user-representations.description1' | translate }}</p>
<p>{{ 'info.end-user-agreement.terms.user-representations.description2' | translate }}</p>


<h2>{{ 'info.end-user-agreement.terms.user-registration' | translate }}</h2>
<p>{{ 'info.end-user-agreement.terms.user-registration.description' | translate }}</p>

<h2>{{ 'info.end-user-agreement.terms.prohibited-activities' | translate }}</h2>
<p>{{ 'info.end-user-agreement.terms.prohibited-activities.description1' | translate }}</p>
<p>{{ 'info.end-user-agreement.terms.prohibited-activities.description2' | translate }}</p>
<ul>
  <li>{{ 'info.end-user-agreement.terms.prohibited-activities.list-item1' | translate }}</li>
  <li>{{ 'info.end-user-agreement.terms.prohibited-activities.list-item2' | translate }}</li>
  <li>{{ 'info.end-user-agreement.terms.prohibited-activities.list-item3' | translate }}</li>
  <li>{{ 'info.end-user-agreement.terms.prohibited-activities.list-item4' | translate }}</li>
  <li>{{ 'info.end-user-agreement.terms.prohibited-activities.list-item5' | translate }}</li>
  <li>{{ 'info.end-user-agreement.terms.prohibited-activities.list-item6' | translate }}</li>
  <li>{{ 'info.end-user-agreement.terms.prohibited-activities.list-item7' | translate }}</li>
  <li>{{ 'info.end-user-agreement.terms.prohibited-activities.list-item8' | translate }}</li>
  <li>{{ 'info.end-user-agreement.terms.prohibited-activities.list-item9' | translate }}</li>
  <li>{{ 'info.end-user-agreement.terms.prohibited-activities.list-item10' | translate }}</li>
  <li>{{ 'info.end-user-agreement.terms.prohibited-activities.list-item11' | translate }}</li>
  <li>{{ 'info.end-user-agreement.terms.prohibited-activities.list-item12' | translate }}</li>
  <li>{{ 'info.end-user-agreement.terms.prohibited-activities.list-item13' | translate }}</li>
  <li>{{ 'info.end-user-agreement.terms.prohibited-activities.list-item14' | translate }}</li>
  <li>{{ 'info.end-user-agreement.terms.prohibited-activities.list-item15' | translate }}</li>
  <li>{{ 'info.end-user-agreement.terms.prohibited-activities.list-item16' | translate }}</li>
  <li>{{ 'info.end-user-agreement.terms.prohibited-activities.list-item17' | translate }}</li>
</ul>

<h2>{{ 'info.end-user-agreement.terms.user-generated-contributions.title' | translate }}</h2>
<p>{{ 'info.end-user-agreement.terms.user-generated-contributions.description' | translate }}</p>
<ul>
  <li>{{ 'info.end-user-agreement.terms.user-generated-contributions.list-item1' | translate }}</li>
  <li>{{ 'info.end-user-agreement.terms.user-generated-contributions.list-item2' | translate }}</li>
  <li>{{ 'info.end-user-agreement.terms.user-generated-contributions.list-item3' | translate }}</li>
  <li>{{ 'info.end-user-agreement.terms.user-generated-contributions.list-item4' | translate }}</li>
  <li>{{ 'info.end-user-agreement.terms.user-generated-contributions.list-item5' | translate }}</li>
  <li>{{ 'info.end-user-agreement.terms.user-generated-contributions.list-item6' | translate }}</li>
  <li>{{ 'info.end-user-agreement.terms.user-generated-contributions.list-item7' | translate }}</li>
  <li>{{ 'info.end-user-agreement.terms.user-generated-contributions.list-item8' | translate }}</li>
  <li>{{ 'info.end-user-agreement.terms.user-generated-contributions.list-item9' | translate }}</li>
  <li>{{ 'info.end-user-agreement.terms.user-generated-contributions.list-item10' | translate }}</li>
  <li>{{ 'info.end-user-agreement.terms.user-generated-contributions.list-item11' | translate }}</li>
  <li>{{ 'info.end-user-agreement.terms.user-generated-contributions.list-item12' | translate }}</li>
  <li>{{ 'info.end-user-agreement.terms.user-generated-contributions.list-item13' | translate }}</li>
</ul>
<p>{{ 'info.end-user-agreement.terms.user-generated-contributions.usage-violation' | translate }}</p>

<h2>{{ 'info.end-user-agreement.terms.site-management.title' | translate }}</h2>
<p>{{ 'info.end-user-agreement.terms.site-management.description' | translate }}</p>

<h2>{{ 'info.end-user-agreement.terms.privacy-policy.title' | translate }}</h2>
<p>{{ 'info.end-user-agreement.terms.privacy-policy.description1' | translate }}</p>
<p>{{ 'info.end-user-agreement.terms.privacy-policy.description2' | translate }}</p>

<h2>{{ 'info.end-user-agreement.terms.terms-and-termination.title' | translate }}</h2>
<p>{{ 'info.end-user-agreement.terms.terms-and-termination.description1' | translate }}</p>
<p>{{ 'info.end-user-agreement.terms.terms-and-termination.description2' | translate }}</p>

<h2>{{ 'info.end-user-agreement.terms.modifications-and-interruptions.title' | translate }}</h2>
<p>{{ 'info.end-user-agreement.terms.modifications-and-interruptions.description1' | translate }}</p>
<p>{{ 'info.end-user-agreement.terms.modifications-and-interruptions.description2' | translate }}</p>

<h2>{{ 'info.end-user-agreement.terms.corrections.title' | translate }}</h2>
<p>{{ 'info.end-user-agreement.terms.corrections.description' | translate }}</p>

<h2>{{ 'info.end-user-agreement.terms.disclaimer.title' | translate }}</h2>
<p>{{ 'info.end-user-agreement.terms.disclaimer.description' | translate }}</p>

<h2>{{ 'info.end-user-agreement.terms.limitations-of-liability.title' | translate }}</h2>
<p>{{ 'info.end-user-agreement.terms.limitations-of-liability.description' | translate }}</p>

<h2>{{ 'info.end-user-agreement.terms.indemnification.title' | translate }}</h2>
<p>{{ 'info.end-user-agreement.terms.indemnification.description' | translate }}</p>

<h2>{{ 'info.end-user-agreement.terms.user-data.title' | translate }}</h2>
<p>{{ 'info.end-user-agreement.terms.user-data.description' | translate }}</p>

<h2>{{ 'info.end-user-agreement.terms.miscellaneous.title' | translate }}</h2>
<p>{{ 'info.end-user-agreement.terms.miscellaneous.description' | translate }}</p>

<p><a class="link-contrast" [routerLink]="'.'" fragment="ref-a" id="comment-a">[a]</a>&nbsp;{{ 'info.end-user-agreement.terms.miscellaneous.license' | translate }} <a class="link-contrast" href="https://github.com/DSpace/DSpace/blob/main/LICENSE" target="_blank" rel="noopener noreferrer">https://github.com/DSpace/DSpace/blob/main/LICENSE</a></p>
</div>