<div class="container my-5justificar">
  <div class="center">
    <h2>{{ "info.repository-policy.title" | translate }}</h2>
    <h3>{{ "info.repository-policy.subtitle" | translate }}</h3>
  </div>

    <h3>{{ "info.repository-policy.chapter1" | translate }}</h3>
    <h4>{{ "info.repository-policy.chapter1sub" | translate }}</h4>
    <p><strong>{{ "info.repository-policy.chapter1init" | translate }}</strong> {{ "info.repository-policy.chapter1contText" | translate }}</p>
    <ul>
        <li>{{ "info.repository-policy.chapter1point1" | translate }}</li>
        <li>{{ "info.repository-policy.chapter1point2" | translate }}</li>
        <li>{{ "info.repository-policy.chapter1point3" | translate }}</li>
        <li>{{ "info.repository-policy.chapter1point4" | translate }}</li>
        <li>{{ "info.repository-policy.chapter1point5" | translate }}</li>
        <li [innerHTML]="'info.repository-policy.chapter1point6' | translate"></li>
    </ul>
    <h3>{{ "info.repository-policy.chapter2" | translate }}</h3>
    <h4>{{ "info.repository-policy.chapter2sub" | translate }}</h4>
    <p>{{ "info.repository-policy.chapter2unique" | translate }}</p>
    <p><strong> {{ "info.repository-policy.art2init" | translate }}</strong> {{ "info.repository-policy.art2" | translate }}</p>
    <p><strong> {{ "info.repository-policy.art3init" | translate }}</strong> {{ "info.repository-policy.art3" | translate }}</p>
    <p><strong> {{ "info.repository-policy.art4init" | translate }}</strong> {{ "info.repository-policy.art4" | translate }}</p>
    <p><strong> {{ "info.repository-policy.art5init" | translate }}</strong> {{ "info.repository-policy.art5" | translate }}</p>
    <p><strong> {{ "info.repository-policy.art6init" | translate }}</strong> {{ "info.repository-policy.art6" | translate }}</p>
    <p><strong> {{ "info.repository-policy.art7init" | translate }}</strong> {{ "info.repository-policy.art7" | translate }}</p>

<h3>{{ "info.repository-policy.chapter3" | translate }}</h3>
<h4>{{ "info.repository-policy.chapter3sub" | translate }}</h4>
<p><strong>{{ "info.repository-policy.art8init" | translate }}</strong> {{ "info.repository-policy.art8" | translate }}</p>
<ul>
    <li>{{ "info.repository-policy.art8point1" | translate }}</li>
    <li>{{ "info.repository-policy.art8point2" | translate }}</li>
    <li>{{ "info.repository-policy.art8point3" | translate }}</li>
    <li>{{ "info.repository-policy.art8point4" | translate }}</li>
    <li>{{ "info.repository-policy.art8point5" | translate }}</li>
</ul>

<h3>{{ "info.repository-policy.chapter4" | translate }}</h3>
<h4>{{ "info.repository-policy.chapter4sub" | translate }}</h4>
<p><strong>{{ "info.repository-policy.art9init" | translate }}</strong> {{ "info.repository-policy.art9" | translate }}</p>
<ul>
    <li>{{ "info.repository-policy.art9point1" | translate }}</li>
    <li>{{ "info.repository-policy.art9point2" | translate }}</li>
    <li>{{ "info.repository-policy.art9point3" | translate }}</li>
    <li>{{ "info.repository-policy.art9point4" | translate }}</li>
    <li>{{ "info.repository-policy.art9point5" | translate }}</li>
    <li>{{ "info.repository-policy.art9point6" | translate }}</li>
</ul>
<p>{{ "info.repository-policy.license" | translate }}</p>

<h3>{{ "info.repository-policy.chapter5" | translate }}</h3>
<h4>{{ "info.repository-policy.chapter5sub" | translate }}</h4>
<p><strong>{{ "info.repository-policy.art10init" | translate }}</strong> {{ "info.repository-policy.art10" | translate }}</p>
<ul>
    <li>{{ "info.repository-policy.art10point1" | translate }}</li>
    <li>{{ "info.repository-policy.art10point2" | translate }}</li>
    <li>{{ "info.repository-policy.art10point3" | translate }}</li>
    <li>{{ "info.repository-policy.art10point4" | translate }}</li>
    <li>{{ "info.repository-policy.art10point5" | translate }}</li>
    <li>{{ "info.repository-policy.art10point6" | translate }}</li>
    <li>{{ "info.repository-policy.art10point7" | translate }}</li>
</ul>

<p><strong>{{ "info.repository-policy.art11init" | translate }}</strong> {{ "info.repository-policy.art11" | translate }}</p>
<ul>
    <li>{{ "info.repository-policy.art11point1" | translate }}</li>
    <li>{{ "info.repository-policy.art11point2" | translate }}</li>
    <li>{{ "info.repository-policy.art11point3" | translate }}</li>
</ul>

<h3>{{ "info.repository-policy.chapter6" | translate }}</h3>
<h4>{{ "info.repository-policy.chapter6sub" | translate }}</h4>
<p><strong>{{ "info.repository-policy.art12init" | translate }}</strong> {{ "info.repository-policy.art12" | translate }}</p>
<ol class="numero-hierarquico">
  <li>
    {{ 'info.repository-policy.art12point1' | translate }}
    <ol>
      <li>{{ 'info.repository-policy.art12point1sub1' | translate }}</li>
      <li>{{ 'info.repository-policy.art12point1sub2' | translate }}</li>
      <li>{{ 'info.repository-policy.art12point1sub3' | translate }}</li>
      <li>{{ 'info.repository-policy.art12point1sub4' | translate }}</li>
      <li>{{ 'info.repository-policy.art12point1sub5' | translate }}</li>
    </ol>
  </li>

  <li>
    {{ 'info.repository-policy.art12point2' | translate }}
    <ol>
      <li>{{ 'info.repository-policy.art12point2sub1' | translate }}</li>
      <li>{{ 'info.repository-policy.art12point2sub2' | translate }}</li>
      <li>{{ 'info.repository-policy.art12point2sub3' | translate }}</li>
      <li>{{ 'info.repository-policy.art12point2sub4' | translate }}</li>
      <li>{{ 'info.repository-policy.art12point2sub5' | translate }}</li>
      <li>{{ 'info.repository-policy.art12point2sub6' | translate }}</li>
      <li>{{ 'info.repository-policy.art12point2sub7' | translate }}</li>
    </ol>
  </li>

  <li>
    {{ 'info.repository-policy.art12point3' | translate }}
    <p>{{ 'info.repository-policy.art12point3desc' | translate }}</p>
    <p>{{ 'info.repository-policy.art12point3note' | translate }}</p>
  </li>

  <li>{{ 'info.repository-policy.art12point4' | translate }}
    <p>{{ 'info.repository-policy.art12point4desc' | translate }}</p>
  </li>
  <li>{{ 'info.repository-policy.art12point5' | translate }}</li>
</ol>

<h3>{{ "info.repository-policy.chapter7" | translate }}</h3>
<h4>{{ "info.repository-policy.chapter7sub" | translate }}</h4>
<p><strong>{{ "info.repository-policy.art13init" | translate }}</strong> {{ "info.repository-policy.art13" | translate }}</p>
<p><strong>{{ "info.repository-policy.art14init" | translate }}</strong> {{ "info.repository-policy.art14" | translate }}</p>
<p><strong>{{ "info.repository-policy.art15init" | translate }}</strong> {{ "info.repository-policy.art15" | translate }}</p>
<p><strong>{{ "info.repository-policy.art16init" | translate }}</strong> {{ "info.repository-policy.art16" | translate }}</p>
<p><strong>{{ "info.repository-policy.art17init" | translate }}</strong> {{ "info.repository-policy.art17" | translate }}</p>
<p><strong>{{ "info.repository-policy.art18init" | translate }}</strong> {{ "info.repository-policy.art18" | translate }}</p>
<p>{{ 'info.repository-policy.uniqueparagraph' | translate }}</p>

<h3>{{ "info.repository-policy.chapter8" | translate }}</h3>
<h4>{{ "info.repository-policy.chapter8sub" | translate }}</h4>
<p><strong>{{ "info.repository-policy.art19init" | translate }}</strong> {{ "info.repository-policy.art19" | translate }}</p>

<h3>{{ "info.repository-policy.chapter9" | translate }}</h3>
<h4>{{ "info.repository-policy.chapter9sub" | translate }}</h4>
<p><strong>{{ "info.repository-policy.art20init" | translate }}</strong> {{ "info.repository-policy.art20" | translate }}</p>

<h3>{{ "info.repository-policy.chapter10" | translate }}</h3>
<h4>{{ "info.repository-policy.chapter10sub" | translate }}</h4>
<p><strong>{{ "info.repository-policy.art21init" | translate }}</strong> {{ "info.repository-policy.art21" | translate }}</p>
<p>{{ 'info.repository-policy.art21uniqueparagraph' | translate }}</p>
<p><strong>{{ "info.repository-policy.art22init" | translate }}</strong> {{ "info.repository-policy.art22" | translate }}</p>
<p><strong>{{ "info.repository-policy.art23init" | translate }}</strong> {{ "info.repository-policy.art23" | translate }}</p>

<h3>{{ "info.repository-policy.chapter11" | translate }}</h3>
<h4>{{ "info.repository-policy.chapter11sub" | translate }}</h4>
<p><strong>{{ "info.repository-policy.art24init" | translate }}</strong> {{ "info.repository-policy.art24" | translate }}</p>
<p><strong>{{ "info.repository-policy.art25init" | translate }}</strong> {{ "info.repository-policy.art25" | translate }}</p>
<p><strong>{{ "info.repository-policy.art26init" | translate }}</strong> {{ "info.repository-policy.art26" | translate }}</p>
<p><strong>{{ "info.repository-policy.art27init" | translate }}</strong> {{ "info.repository-policy.art27" | translate }}</p>

<h3>{{ "info.repository-policy.chapter12" | translate }}</h3>
<h4>{{ "info.repository-policy.chapter12sub" | translate }}</h4>
<p><strong>{{ "info.repository-policy.art28init" | translate }}</strong> {{ "info.repository-policy.art28" | translate }}</p>
<p><strong>{{ "info.repository-policy.art29init" | translate }}</strong> {{ "info.repository-policy.art29" | translate }}</p>

</div>
