<footer class="custom-footer">
  <!-- Barra social -->
  <div class="footer-social">
    <a
      href="https://www.youtube.com/user/IBICTbr/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="assets/ridi/images/youtube.svg" alt="youtube" />
    </a>
    <a
      href="https://www.facebook.com/IBICTbr/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="assets/ridi/images/facebook.svg" alt="facebook" />
    </a>
    <a
      href="https://twitter.com/ibictbr"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="assets/ridi/images/twitter.svg" alt="twitter" />
    </a>
    <a
      href="https://www.linkedin.com/company/ibict---instituto-brasileiro-de-informa-o-em-ci-ncia-e-tecnologia/mycompany/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="assets/ridi/images/linkedin.svg" alt="linkedin" />
    </a>
  </div>

  <!-- Conteúdo central -->
  <div class="footer-main">
    <div class="footer-links">
      <a href="#">Ajuda</a>
      <a href="#">Mapa do site</a>
      <a href="#">Política de indexação</a>
    </div>

    <img
      class="logos"
      src="assets/ridi/images/logos.svg"
      alt="logos ibict governo"
    />

    <p class="institution">
      Instituto Brasileiro de Informação em Ciência e Tecnologia (Ibict) <br />
      SAUS Quadra 5 • Lote 6 Bloco H • Asa Sul • CEP: 70.070-912 • Brasília - DF
      <br />
      <!-- Fale conosco: rd@ibict.br • +55 61 3217-6449 / 6460 / 6433 -->
    </p>
    <img src="assets/ridi/images/ridi_logo_xl.svg" alt="RIDI" />
  </div>

<button 
  class="back-to-top" 
  [class.hidden]="!showButton"
  (click)="scrollToTop()">
  <img src="assets/ridi/images/chevron.svg" alt="Voltar ao topo" />
</button>


</footer>
