<footer class="custom-footer">
  <!-- Barra social -->
  <div class="footer-social">
    <a
      href="https://www.youtube.com/user/IBICTbr/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="assets/ridi/images/youtube.svg" alt="youtube" />
    </a>
    <a
      href="https://www.facebook.com/IBICTbr/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="assets/ridi/images/facebook.svg" alt="facebook" />
    </a>
    <a
      href="https://twitter.com/ibictbr"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="assets/ridi/images/twitter.svg" alt="twitter" />
    </a>
    <a
      href="https://www.linkedin.com/company/ibict---instituto-brasileiro-de-informa-o-em-ci-ncia-e-tecnologia/mycompany/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="assets/ridi/images/linkedin.svg" alt="linkedin" />
    </a>
  </div>

  <!-- Conteúdo central -->
  <div class="footer-main">
    <div class="footer-links">
      <a href="#">{{ 'footer.help' | translate }}</a>
      <a href="#">{{ 'footer.sitemap' | translate }}</a>
      <a href="#">{{ 'footer.indexing_policy' | translate }}</a>
    </div>

    <img
      class="logos"
      src="assets/ridi/images/all-logos-att.png"
      alt="logos ibict governo"
    />

    <p class="institution">
      {{ 'footer.text1' | translate }}<br />
      {{ 'footer.text2' | translate }}
      <br />
      {{ 'footer.text3' | translate }}
    </p>
    <!-- <img src="assets/ridi/images/ridi_logo_xl.svg" alt="RIDI" /> -->
  </div>

<button 
  class="back-to-top" 
  [class.hidden]="!showButton"
  (click)="scrollToTop()">
  <img src="assets/ridi/images/chevron.svg" alt="Voltar ao topo" />
</button>


</footer>
