:host {
    display: block;
}

.display-3 {
    word-break: break-word;
}



a {
  color: var(--ds-home-news-link-color);

  &:hover {
    color: var(--ds-home-news-link-hover-color);
  }
}

.bg-hero {
  display: flex;
  justify-content: center;
  max-width: 1400px; // pode ser maior para ocupar melhor em telas largas
}

.bg-hero img {
  max-width: 100%;
  max-height: 70vh;
  height: auto;
  opacity: 0.4;
}

.hero-content {
  position: absolute;
  z-index: 2;
  top: 50%;
}

.hero-content h2 {
  font-size: 2.2rem;
  line-height: 1.4;
  color: #28408B;
}

.hero-content h2 {
  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
}
