.btn-ridi {
  background-color: #28408B;
  color: white;

  &:hover {
    background-color: var(--interactive-hover);
    color: white;
  }

  &:active {
    background-color: #4D69C0;
    color: white;
  }

  &.active {
    background-color: #4D69C0;
    color: white;
  }
}
