:host {
    .dropdown-toggle::after {
        display: none;
    }
    .dropdown-item {
        padding-left: 20px;
    }
}
:host {
  ::ng-deep .pagination {
    --bs-pagination-active-bg: #28408B;
    --bs-pagination-color: #28408B;
  }
}
