<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <p class="mb-4">{{ 'presentation.description1' | translate }}</p>
            <p class="mb-4">{{ 'presentation.description2' | translate }}</p>
            <p class="mb-4">{{ 'presentation.description3' | translate }}</p>
            <p class="mb-4">{{ 'presentation.description4' | translate }}</p>
            <p class="mb-4">{{ 'presentation.description5' | translate }}</p>
            <p class="mb-4">{{ 'presentation.description6' | translate }}</p>
            <p class="mb-4">{{ 'presentation.description7' | translate }}</p>
            <p class="mb-4" [innerHTML]="'presentation.description8' | translate"></p>
        </div>
    </div>
</div>