.recent-submissions {
  font-family: Open Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #28408b;
}

.btn-load {
    background-color: #28408B;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
}